:root {
  --primary-fg: white;
  --primary-bg: rgb(35, 44, 47);
  --secondary-fg: rgb(37, 17, 40);
  --secondary-bg: white;
  --pop: red;
}
* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  background-color: gray;
  margin: 0;
  padding: 0;
  height: 100%;
}
header,
footer {
  color: var(--primary-fg);
  background-color: var(--primary-bg);
  /* background-color: var(--primary-bg); */
}
header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  /* background-image: linear-gradient(black, rgba(0, 0, 0, 0)); */
}
header h1 {
  margin: 0;
}
header p {
  margin: 0;
}
footer a {
  color: var(--primary-fg);
}

main {
  display: flex;
  flex-direction: column;
  color: var(--secondary-fg);
  background-color: var(--primary-bg);
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  /* flex-grow: 1; */
  height: 100%;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

section.section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  color: white;
  background-color: rgb(61, 61, 61);
  border-radius: 1rem;

  background-size: cover;
  background-position: center;
}
div.pieces-collection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section.piece {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.591);
  border-radius: 1rem;
  padding: 1rem;
  /* border: 3px solid rgba(0, 0, 0, 0.25); */
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.188);
}
section.piece div.links {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
  position: relative;
  bottom: 0;
  margin-top: auto;
}
section.piece div.links a {
  border: 2px solid rgba(0, 0, 0, 0.371);
  border-radius: 0.25rem;
  padding: 0.25rem;
  color: var(--secondary-fg);
  overflow: hidden;
  flex-wrap: nowrap;
  text-decoration: none;
  transition: box-shadow 2s, background-color 2s, transform 2s;
}

section.piece div.links a:hover {
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.538) inset,
    -2px -2px 2px rgba(0, 0, 0, 0.484) inset, 0 6px 5px rgba(0, 0, 0, 0.35);
  background-color: var(--pop);
  transform: translateY(-2px);
  border: 2px solid black;
  transition: box-shadow 0.5s, background-color 0.5s, transform 0.5s;
}

.images-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  justify-content: space-around;
}
.images-horizontal img {
  height: 120px;
  width: auto;
  transition: transform 0.1s, box-shadow 0.1s;
}
.images-horizontal img:hover {
  transform: scale(1.1);
  box-shadow: 0 0.5rem 0.25rem rgba(0, 0, 0, 0.191);
  transition: transform 0.25s, box-shadow 0.25s;
}

#image-dialog {
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.732);
  box-shadow: 0 0.2rem 1rem 0.5rem rgba(0, 0, 0, 0.696);
  padding: 0;
  border: 5px solid white;

  /* max-height: 90%;
  height: fit-content;
  min-height: 100px; */
}
.zoom-in {
  animation: zoom-in 0.3s ease-in-out;
}
@keyframes zoom-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes zoom-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

#image-dialog img {
  width: 100%;
}
#image-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.426);
  backdrop-filter: blur(4px);
}
.clickable {
  cursor: nwse-resize;
}

/* Specific container backgrounds */
.bg-gamedev {
  background-image: linear-gradient(rgba(0, 0, 0, 0.628), rgb(113, 113, 113)),
    url("./images/game_developer_bg.webp");
}

@media (min-width: 660px) {
  div.pieces-collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  header {
    align-items: start;
  }
}

@media (min-width: 1200px) {
  div.pieces-collection {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
